body {
    font-weight: 100;
}

p {
    margin: 5px;
    padding: 5px;
    text-decoration: underline red wavy;
    font-size: 20px;
    text-decoration-thickness: revert-layer;
    text-decoration-trim: 10px ;
    color: grey;
}