html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    position: relative;
    display: inline-block;
    background: #f1e8e8;
    width: 60px;
    height: 34px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #000;
    
}
/*made checkbox invisible but we can use two condition checked and unchecked*/
.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
   
}

/*made  background form*/
.toggle {
    position: absolute;
    cursor: pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #540a0a;
    border-radius: 10px;
    transition: 0.4s;

}
/*made form toggle*/
.toggle::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 10px;
}
.checkbox:checked + .toggle{
    background-color: #c7e0ef;
}
.checkbox:checked + .toggle::before {
    transform: translateX(26px);
}